/* ============================================= */
/*              Images                           */
/* ============================================= */


.thumbnail {
    width: 230px;
    height: 180px;
    border: $secondary-color solid 1px;
    padding: 5px;

}